<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>To Do List</title>
</head>
<body>

    <div class="box" id="heading">
        <h1><%= listName %></h1>
    </div>
   
    <div class="box">
            <form action="/delete" method="POST">
            <% newTask.forEach(function(task){ %>
            <div class="item">   
                <input type="checkbox" name="checkbox" value="<%=task._id %>" onChange="this.form.submit()">   
                <p class="task"><%= task.name %> </p>
            </div> 
            <% }) %> 
            <input type="hidden" name="list" value=<%= listName%>>
            </form>


    <form class="item" action="/" method="POST">
        <input type="text" name="task" id="task" placeholder="Task">
        <button name="list" value=<%= listName %> type="submit">+</button>
    </form>
    </div> 

    <%- include("footer") -%>
</body>
</html>
